<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-nav">
                <div class="nav-item mx-3">SHOP</div>
                <div class="nav-item mx-3">WHY BIOM</div>
                <div class="nav-item mx-3">SCENTS</div>
                <div class="footer-logo mx-3">
                    <img src="assets/images/logo.png" alt="Logo">
                </div>
                <div class="nav-item mx-3">FAQS</div>
                <div class="nav-item mx-3">ACCOUNT</div>
                <div class="nav-item mx-3">HELP</div>
            </div>
        </div>
        <div class="footer-underline"></div>
        <div class="footer-bottom">
            <div class="footer-text">© 2021 biom. All rights reserved  •  Privacy Policy  •  Terms of Service</div>
            <div class="footer-icons">
                <i class="fab fa-instagram mx-2"></i>
                <i class="fab fa-facebook mx-2 mr-2"></i>
            </div>
        </div>
    </div>
</footer>
