
<footer class="footer d-flex align-items-end">
        <div class="rectangular-div">
            <div class="row h-100">
                <div class="col-lg-6 d-flex  align-items-center p-md-5 ml-5">
                    <div class="content">
                    <h3 class="main-text">Get the latest news delivered to your inbox.</h3>
                    <p class="sub-text">Get access to the exciting stuff — exclusive new deals, product launches and more. Plus, get a 10% discount on your next order.</p>
                    <div class="input-container">
                        <input type="email" class="email-input" placeholder="Enter your email">
                        <button class="inside-button"><i class="fa-solid fa-arrow-right"></i></button>
                      </div>
                </div>
                </div>
            </div>
          </div>
    <div class="footer-content container-fluid">
        <div class="footer-top">
            <div class="footer-nav mb-5">
                <div class="nav-item mx-md-3">SHOP</div>
                <div class="nav-item mx-md-3">WHY BIOM</div>
                <div class="nav-item mx-md-3">SCENTS</div>
                <div class="footer-logo mx-md-3 footerlogobig">
                    <img src="assets/images/logo.png" alt="Logo">
                </div>
                <div class="nav-item mx-md-3">FAQS</div>
                <div class="nav-item mx-md-3">ACCOUNT</div>
                <div class="nav-item mx-md-3">HELP</div>
                <div class="footer-logo mx-md-3 footerlogosmall">
                    <img src="assets/images/logo.png" alt="Logo">
                </div>
            </div>
        </div>
        <div class="footer-underline"></div>
        <div class="footer-bottom">
            <div class="footer-text">© 2021 biom. All rights reserved  •  Privacy Policy  •  Terms of Service</div>
            <div class="footer-icons">
                <i class="fab fa-instagram mx-2"></i>
                <i class="fab fa-facebook mx-2 mr-2"></i>
            </div>
        </div>
    </div>
</footer>

