.secondSection{
    background-image: url('/assets/images/2sec2.png');
    background-repeat: no-repeat;
    background-clip: padding-box;
    height: 100vh;
      background-position: top;
      background-position:10%;

}

.vertical-text {
    position: relative;
    writing-mode: vertical-rl;
    text-align: center;
    font-family: BrandonGrotesque;
    color:#F2F2F2;
    overflow-x: auto;
    max-height: 100vh;
    top: 0%;
    left: 8%;
    z-index: 1;
    white-space: nowrap;
    overflow: scroll;
    height: 80vh;
    width: 100%; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    transform: rotate(180deg);
    pointer-events: all;

}
.vertical-text::-webkit-scrollbar {
    display: none; 
}
@media (max-width: 992px){
    .vertical-text{
        display: none;
    }
}

.scrollable-text{
    font-family: BrandonGrotesque;
    font-size: 11rem;
    font-weight: bold;
    white-space: nowrap; 
    line-height: 1.2; 
}

.main-text{
    font-family: ChronicleDisplay;
    font-size: 2.5rem;
    color: #002D33;
}
.sub-text{
    font-family: BrandonGrotesqueRegular;
    font-weight: lighter;
    letter-spacing: 0px;
    font-size: 1.2rem;
    color: #002D33;
}
.header-text{
    color: #002D33;
    font-family: BrandonGrotesqueRegular;
    font-weight: lighter;
    font-size: 0.9rem;
    letter-spacing: 2.1px;
}
.text-for-size{
    width: 90%
}
p{
    margin: 0;
    color: #002D33;
}
.get-started-button{
    background-color: #004A4C;
    font-family: BrandonGrotesque;
    font-size: 0.8rem;
    letter-spacing: 1.95px;
    color: white;
}
@media (max-width: 600px) {
    .get-started-button{
    width: 100%;
    margin: auto;
    }
    .secondSection{
        height: 80vh;
    }
}