<section class="container-fluid px-lg-5">
    <div class="container-fluid secondSection">
            <div class="row w-100">
                <div class="col-lg-6 d-flex position-relative">
                    <div class="vertical-text">
                        <h1 class="scrollable-text m-0">&nbsp;&nbsp;meet biom</h1>
                    </div>
                </div>
                <div class="col-lg-6 pt-lg-4 mt-lg-0">
                    <h5 class="header-text mt-5">THE BIOM DISPENSER</h5>
                    <h1 class="main-text ">Redefine your experience of clean.</h1>
                    <p class="sub-text text-for-size mt-5 mt-lg-0 mb-5 mb-lg-0">A quality engineered wipes dispenser that looks beautiful in your home, 
                        making better habits for your home and planet always within reach.</p>
                        <div class="pb-4 mt-4 d-flex align-items-center" *ngFor="let image of images">
                            <img [src]="image.url"><p class="ml-4">{{image.text}}</p></div>
                    <a href="#" class="btn get-started-button px-5 py-3 mt-5 mt-lg-3">SHOP NOW</a>
                </div>
            </div>
    </div>
</section>