<section class="mt-5 px-lg-5">
    <div class="row main-container pt-lg-5">
        <div class="col-lg-4">
            <img class="adobe" src="assets/images/adobe.png">
            <img class="fill" src="assets/images/fill.png">
        </div>
        <div class="col-lg-8 main-part d-flex justify-content-center align-items-center pb-5">
            <div class="text-content-container">
            <h5 class="header-text mt-5">BIOM WIPES</h5>
            <h1 class="main-text ">Better for you, and the planet.</h1>
            <p class="sub-text">The experience of clean should feel amazing. In a time when we're constantly sanitizing, it can be damaging to our hands and skins. 
                We decided to load our wipes with Aloe to take care of you, while you take care of your home.</p>
                <div class="bullets ml-lg-5 mb-5 mb-md-0">
                    <div class="pb-4 mt-4 d-flex align-items-center" *ngFor="let image of images">
                            <img [src]="image.url"><p class="ml-4">{{image.text}}</p></div>
        </div>
        </div>
    </div>
    <a href="#" class="btn get-started-button px-5 py-3 mt-lg-3">SUBSCRIBE NOW</a>

    </div>
</section>