<nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <div class="container-fluid mx-5">
      <a class="navbar-brand mx-auto d-lg-none d-lg-block">
        <img src="assets/images/logo.png" alt="Logo" style="height: 28px;">
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto d-lg-none">
          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WHY BIOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SCENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SIGN IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CART</a>
          </li>
        </ul>
        
        <ul class="navbar-nav mr-auto d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WHY BIOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SCENTS</a>
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">SIGN IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CART <i class="fa-solid fa-cart-shopping"></i><span class="cart-badge">0</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  