<section class="fullwidth-bg-section container-fluid px-lg-5">
    <div class="content-wrapper">
        <h4 class="small-heading">CLEANING OUR OCEANS WITH EVERY WIPE</h4>
        <h1 class="big-header">Wipes have plastic in them. We don't.</h1>
        <p class="description-text">We reinvented wipes to cut out all the bad stuff —like single-use plastic that hurts the environment, 
            and toxic chemicals that don't belong in our oceans (or in our homes).</p>
        <a href="#" class="cta-button btn btn-light px-5 py-3 mt-5">LEARN MORE</a>
    </div>
</section>