.fullwidth-bg-section {
    background-image: url('/assets/images/water.jpg');
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
@media (min-width: 992px){
    .fullwidth-bg-section{
        margin-top: 150px;
    }
}
.content-wrapper {
    max-width: 80%; 
    color: white; 
    margin: auto;
}

.small-heading {
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: BrandonGrotesqueRegular;
}

.big-header {
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-family: ChronicleDisplay;
}

.description-text {
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-family: BrandonGrotesqueRegular;
    max-width: 70%;
    margin: auto;
}

.cta-button {
    color: #004A4C;
    font-family: BrandonGrotesque;
    font-size: 0.8rem;
    letter-spacing: 1.95px;
}