
.text-section p {
    font-size: 2.25rem;
    margin-bottom: 10px;
    font-family: ChronicleDisplay;
}

.box-with-arrow {
    align-items: center;
    border: 2px solid #002D33;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    font-family: BrandonGrotesque;
    font-size: 0.8rem;
    width: max-content;
    color: #002D33;
}
.box-with-arrow span {
    border-right: 2px solid #002D33; 
}
.box-with-arrow:hover img{
    transform: scale(110%);
}

.carousel-section {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}

.section-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: ChronicleDisplay;
    color: #002D33;
}

.my-swiper {
    width: 100%;
    /* height: 70vh; odkomentarisati */ 
    position: relative;
}

.swiper-slide {
    /* display: flex; odkomentarisati
    align-items: flex-end;  odkomentarisati
    height: 100%; odkomentarisati
    position: relative;  odkomentarisati */
/*padding-bottom: 80%;  UPITNO BAS HABA SVE - ukinuti mozda skroz ovo da su pomjerene ako ne nadjem rjesenje */
}

.swiper-slide.higher {
    /* align-items: flex-start;  odkomentarisati */
}

.carousel-image {
    width: 100%;

    border-radius: 10px;
}

