@font-face {
    font-family: 'ChronicleDisplay';
    src: url('/assets/fonts/ChronicleDisplayBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonGrotesqueRegular';
    src: url('/assets/fonts/BrandonGrotesqueRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonGrotesque';
    src: url('/assets/fonts/brandongrotesque-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonGrotesqueBlack';
    src: url('/assets/fonts/brandonBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} 
.firstSection{
    background-image: url('/assets/images/Kitchen_3.png');
    background-repeat: no-repeat;
    background-clip: padding-box;
    height: 90vh;
      background-position: center;
      background-position: top;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 5;
}
.main-text{
    font-family: ChronicleDisplay;
    font-size: 55px;
}
.sub-text{
    font-family: BrandonGrotesqueRegular;
    font-weight: lighter;
    letter-spacing: 0px;
    font-size: 18px;
    color: #FFFAFA;
}
@media (min-width: 550.98px) {
    .sub-text{
        width: 400px;
    }
}
.get-started-button{
    color: #004A4C;
    font-family: BrandonGrotesque;
    font-size: 12px;
    letter-spacing: 1.95px;
    width: 25vw;
}
@media (max-width: 600px) {
    .get-started-button{
    width: 80%;
    margin: auto;
    margin-top: auto;
    margin-bottom: 8rem;
    justify-self: center;
    }
    .main-text{
        margin-top: 10rem;
    }
    .sub-text{
        margin-top: 3rem;;
    }
    .firstSection{
        background-position:90%;
    }
}